.account {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  .account__avatar {
    border-radius: 100%;
    border: 1px solid #D1D1CF;
    width: 150px;
    height: 150px;
    background-image: url(/img/no_user_photo.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 120px;
    margin: 2em;
  }

  .account__form {

    @media (min-width: 768px) {
    }

    div {
      margin-top: 1em;
      width: 350px;
      display: flex;
      padding: 5px;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;

      @media (min-width: 620px) {
        text-align: initial;
        justify-content: space-between;
      }
    }

    .account-info {
      p {
        font-size: 3em;
      }
      .account-email {
        font-size: 1.2em;
      }
    }

    .account-licence {
      .account-licence-error {
        width: 100%;
        text-align: initial;
        color: #a94442;
      }
      input {
        flex-grow: 2;
        border: 1px solid #7dcac7;
        border-radius: initial;
        margin-right: 10px;
        padding: 5px;
      }

      button {
        flex-grow: 1;
        padding: 0.6em 1.2em;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 2px;
        font-size: 1em;
        width: 7em;
      }
    }
  }
}