@import '../variables';

.status {
  border-radius: 16px;
  width: 140px;
  height: 32px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 25px auto;
  border: 3px solid #ccc;
  color: #ccc;
}
.status.on {
  border: 3px solid $pearl-aqua;
  color: $pearl-aqua;
}
.status.off {
  border: 3px solid $old-rose;
  color: $old-rose;
}