.status {
  border-radius: 16px;
  width: 95px;
  height: 32px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 35px auto;
  border: 3px solid #ccc;
  color: #ccc;
}
.status.on {
  border: 3px solid #7dcac7;
  color: #7dcac7;
}
.status-label.off {
  border: 3px solid #ca7d7d;
  color: #ca7d7d;
}