html, body, #app, .gp-main{
  height: 100%;
  font-family: 'Open Sans';
}
body{
  min-width: 320px;
}
.gp-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.gp-content {
  width: 100%;
  height: auto;
  flex: 1;
}
.dn {
  display: none;
}
.menu {
  height: 70px;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
}
.logo {
  width: 93px;
  height: 50px;
  background: url('/img/logo.png') no-repeat;
  background-size: contain;
}
.icons i {
  transition: all 0.4s;
  color: #333;
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  position: relative;
  &:hover{
    color:#555;
  }
}
.icons i .notification {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  right: 7px;
  color: #fff;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
}
.icons i .notification.on {
  background: #7dcac7;
}
.icons i .notification.off {
  background: #ca7d7d;
}
.content {
  padding: 25px 0;
  text-align: center;
}

footer {
  font-size: 10px;
  text-align: center;
}

/* modal */
.confirmation .menu {
  border: 0;
  margin-bottom: 50px;
}
.confirmation .logo {
  background: url('/img/logo-white.png') no-repeat;
  background-size: contain;
}
.confirmation p {
  color: #fff;
}
.confirmation .buttons {
  margin-top: 100px;
}
.confirmation .button {
  cursor: pointer;
  border-radius: 16px;
  width: 65px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  display: block;
}
.confirmation .button.yes {
  background: #fff;
}
.modalApprove {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7dcaa4;
  background: -moz-linear-gradient(top,  #7dcaa4 0%, #7dcac7 100%);
  background: -webkit-linear-gradient(top,  #7dcaa4 0%,#7dcac7 100%);
  background: linear-gradient(to bottom,  #7dcaa4 0%,#7dcac7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dcaa4', endColorstr='#7dcac7',GradientType=0 );
}
.modalApprove .button.yes {
  color: #7dcaa4;
}
.modalDecline {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ca937d;
  background: -moz-linear-gradient(top,  #ca937d 0%, #ca7d7d 100%);
  background: -webkit-linear-gradient(top,  #ca937d 0%,#ca7d7d 100%);
  background: linear-gradient(to bottom,  #ca937d 0%,#ca7d7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca937d', endColorstr='#ca7d7d',GradientType=0 );
}
.modalDecline .button.yes {
  color: #ca7d7d;
}

.login .logo {
  width: 200px;
  height: 108px;
  background: url('/img/logo.png') no-repeat;
  background-size: contain;
  margin: 40px auto 80px;
}
.login form {
  margin-bottom: 50px;
}
.login input {
  height: 30px;
  line-height: 30px;
  border: 0;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  width: 150px;
}
.checkbox {
  color: #fff;
}