html, body, #app, .gp-main{
  height: 100%;
  font-family: 'Open Sans';
}
body{
  min-width: 320px;
}
.gp-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.gp-content {
  width: 100%;
  height: auto;
  flex: 1;
}
.dn {
  display: none;
}
.menu {
  height: 70px;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
}
.logo {
  width: 93px;
  height: 50px;
  background: url('/img/logo.png') no-repeat;
  background-size: contain;
}
.icons i {
  transition: all 0.4s;
  color: #333;
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  position: relative;
  &:hover{
    color:#555;
  }
}
.icons i .notification {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  right: 7px;
  color: #fff;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
}
.icons i .notification.on {
  background: #7dcac7;
}
.icons i .notification.off {
  background: #ca7d7d;
}
.content {
  padding: 10px 0 0 0;
  text-align: center;

  @media (min-width: 400px) {
    padding: 25px 0;
  }
}

footer {
  font-size: 10px;
  text-align: center;
}

/* modal */
.confirmation .menu {
  border: 0;
  margin-bottom: 50px;
}
.confirmation .logo {
  background: url('/img/logo-white.png') no-repeat;
  background-size: contain;
}
.confirmation p {
  color: #fff;
}
.confirmation .buttons {
  margin-top: 100px;
}
.confirmation .button {
  cursor: pointer;
  border-radius: 16px;
  width: 65px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  display: block;
}
.confirmation .button {
  border: 2px solid #fff;
}
.confirmation .button:hover {
  background-color: #fff;
}
.confirmation.modalDecline .button:hover {
  color: #ca7d7d;
}
.confirmation.modalApprove .button:hover {
  color: #7dcaa4;
}
.confirmation .button.yes {
  background: #fff;
}
.modalApprove {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7dcaa4;
  background: -moz-linear-gradient(top,  #7dcaa4 0%, #7dcac7 100%);
  background: -webkit-linear-gradient(top,  #7dcaa4 0%,#7dcac7 100%);
  background: linear-gradient(to bottom,  #7dcaa4 0%,#7dcac7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dcaa4', endColorstr='#7dcac7',GradientType=0 );
}
.modalApprove .button.yes {
  color: #7dcaa4;
}
.modalDecline {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ca937d;
  background: -moz-linear-gradient(top,  #ca937d 0%, #ca7d7d 100%);
  background: -webkit-linear-gradient(top,  #ca937d 0%,#ca7d7d 100%);
  background: linear-gradient(to bottom,  #ca937d 0%,#ca7d7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca937d', endColorstr='#ca7d7d',GradientType=0 );
}
.modalDecline .button.yes {
  color: #ca7d7d;
}

.checkbox {
  color: #fff;
}

.flex-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  
  p {
    margin: 5px;
    font-size: 0.8em;

    @media (min-width: 400px) {
      margin: 15px;
      font-size: 1.2em;
    }
  }
}

.blur {
  -ms-filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
}

// Mixin for keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

// Mixin for animations
@mixin animation($prop) {
  -webkit-animation: $prop;
  -moz-animation: $prop;
  -o-animation: $prop;
  animation: $prop;
}

@include keyframes(check) {
  0% { height: 0; width: 0; }
  25% { height: 0; width: 8px; }
  50% { height: 20px; width: 8px; }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
  @include transform(scale($scale));
}
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin transform-origin ($origin1, $origin2) {
  moz-transform-origin: $origin1 $origin2;
  -o-transform-origin: $origin1 $origin2;
  -ms-transform-origin: $origin1 $origin2;
  -webkit-transform-origin: $origin1 $origin2;
  transform-origin: $origin1 $origin2;
}

.checkbox {
  background-color: #fff;
  display: inline-block;
  height: 1.4em;
  margin: 0;
  width: 1.4em;
  border: 1px solid #7cc;
  overflow: hidden;

  label {
    display: block;
    height: 1.4em;
    position: relative;
    width: 1.4em;

    &:after {
      @include transform(scaleX(-1) rotate(180deg + -45deg));
      @include transform-origin(left, top);

      border-right: 4px solid #cee;
      border-top: 4px solid #cee;
      content: '';
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 10px;
      width: 8px;
    }

    &:hover:after { border-color: #bdd; }
  }

  input { display: none; }

  input:checked + label:after {
    @include animation(check 0.8s);
    border-color: #6aa;
  }

  &.checkbox-alt {
    label:hover:after {
      @include animation(check 0.8s ease infinite);
    }
    input:checked + label:after {
      @include animation(none);
    }
  }
}

.messages-container {
  padding-top: 10px;

  @media (min-width: 768px) {
    padding-top: 40px;
  }
}
